PORT=4000
ORACLE_USER=SYS 
ORACLE_PASSWORD=Lulu07
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1
ORACLE_POOL_MIN=1
ORACLE_POOL_MAX=5
ORACLE_POOL_INCREMENT=1

MONGO_URI=mongodb+srv://202312217_db_user:irZCOlyGfFk9l9ge@cluster0proyecto.e6bqz9m.mongodb.net/?appName=Cluster0Proyecto
MONGO_DB=hrms
