PORT=4000
ORACLE_USER=system
ORACLE_PASSWORD=oracle_password
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1
ORACLE_POOL_MIN=1
ORACLE_POOL_MAX=5
ORACLE_POOL_INCREMENT=1
MONGO_URI=mongodb://localhost:27017
MONGO_DB=hrms
